<%= form_for @label, :html => { :class => "form-horizontal label" } do |f| %>

  <% if @label.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@label.errors.count, "error") %> prohibited this label from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @label.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :s_system_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:s_system_id, System.all, :id, :description,{}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:s_system_id) %>
  </div>
  <div class="form-group">
    <%= f.label :s_section_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:s_section_id, Section.all, :id, :description,{}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:s_section_id) %>
  </div>
  <div class="form-group">
    <%= f.label :s_device_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:s_device_id, Device.all, :id, :abbr,{}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:s_device_id) %>
  </div>
  <div class="form-group">
    <%= f.label :cable_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:cable_id, Cable.all, :id, :type ,{}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:cable_id) %>
  </div>
  <div class="form-group">
    <%= f.label :d_system_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:d_system_id, System.all, :id, :description,{}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:d_system_id) %>
  </div>
  <div class="form-group">
    <%= f.label :d_section_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:s_section_id, Section.all, :id, :description,{}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:d_section_id) %>
  </div>
  <div class="form-group">
    <%= f.label :d_device_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:d_device_id, Device.all, :id, :abbr,{}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:d_device_id) %>
  </div>
  <div class="form-group">
    <%= f.label :cabinet_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:cabinet_id, Cabinet.all, :id, :description,{}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:cabinet_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                labels_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
