<%- model_class = Label -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:label) %></th>
      <th><%= model_class.human_attribute_name(:abbr) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      label_path(label), :class => 'btn btn-default btn-xs' %>
        </td>
        <td> <b><%= label.s_system.code.to_s.rjust(2, '0')+ ':' +label.s_section.code.to_s.rjust(2, '0')+':'+label.s_device.abbr.to_s.rjust(2, '0') %>
            /<%= label.cable.code %>/
             <%= label.d_system.code.to_s.rjust(2, '0') +':'+label.d_section.code.to_s.rjust(2, '0')+':'+ label.d_device.abbr.to_s.rjust(2, '0') %>
            .<%= label.cabinet.abbr %></td></b>
        <td><%= label.s_system.description+":"+label.s_section.description+":"+label.s_device.name+" -> "+label.d_system.description+":"+label.d_section.description+":"+label.d_device.name %> </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_label_path(label), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      label_path(label),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_label_path,
            :class => 'btn btn-primary' %>
