<%- model_class = Label -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @label.description %></dd>
  <dt><strong><%= model_class.human_attribute_name("Source System") %>:</strong></dt>
  <dd><%= @label.s_system.description %></dd>
  <dt><strong><%= model_class.human_attribute_name("Source Section") %>:</strong></dt>
  <dd><%= @label.s_section.description %></dd>
  <dt><strong><%= model_class.human_attribute_name("Source Device") %>:</strong></dt>
  <dd><%= @label.s_device.name %></dd>
  <dt><strong><%= model_class.human_attribute_name("Destination System") %>:</strong></dt>
  <dd><%= @label.d_system.description %></dd>
  <dt><strong><%= model_class.human_attribute_name("Destination Section") %>:</strong></dt>
  <dd><%= @label.d_section.description %></dd>
  <dt><strong><%= model_class.human_attribute_name("Destination Device") %>:</strong></dt>
  <dd><%= @label.d_device.name %></dd>
  <dt><strong><%= model_class.human_attribute_name("Cable Type") %>:</strong></dt>
  <dd><%= @label.cable.type %></dd>
  <dt><strong><%= model_class.human_attribute_name("Cabinet") %>:</strong></dt>
  <dd><%= @label.cabinet.description %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              labels_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_label_path(@label), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              label_path(@label),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
