<%- model_class = Label -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @label.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:s_system_id) %>:</strong></dt>
  <dd><%= @label.s_system_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:d_system_id) %>:</strong></dt>
  <dd><%= @label.d_system_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:s_section_id) %>:</strong></dt>
  <dd><%= @label.s_section_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:d_section_id) %>:</strong></dt>
  <dd><%= @label.d_section_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:s_device_id) %>:</strong></dt>
  <dd><%= @label.s_device_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:d_device_id) %>:</strong></dt>
  <dd><%= @label.d_device_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cable_id) %>:</strong></dt>
  <dd><%= @label.cable_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cabinet_id) %>:</strong></dt>
  <dd><%= @label.cabinet_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              labels_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_label_path(@label), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              label_path(@label),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
